.abt-card {
  display: flex;
  justify-content: center;
}

.inner-sqr {
  background-color: beige;
  padding: 10dvh;
}

.outer-sqr {
  background-color: green;
  padding: 1dvh;
}

.about {
  background-color: #ffffff94;
  padding-top: 25dvh;
  padding-bottom: 24.2dvh;
}
