.catalog {
  min-height: 600px;
  background-color: #ffffff94;
  border-radius: 0.5%;
  padding-bottom: 18dvh;
}

.catalog h1 {
  color: darkcyan;
  font-size: 7dvh;
  font-weight: 600;
  margin-bottom: 3dvh;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  margin-left: 8dvh;
}

.catalog .filters button {
  margin: 6px 4px;
  background-color: white;
}

.prodo {
  background-color: white;
}
