.contact-form {
  margin-right: 60dvh;
  margin-left: 60dvh;
  margin-top: 10dvh;

  background-color: bisque;
  padding: 10dvh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.contactw {
  background-color: #ffffff94;
  padding-bottom: 14.2dvh;
}

.labelz {
  font-size: 3dvh;
}
